modules = ["web", "nodejs-20", "python-3.11"]
[nix]
channel = "stable-25_05"
packages = ["awsebcli", "cairo", "cargo", "fontconfig", "freetype", "gdk-pixbuf", "ghostscript", "glib", "harfbuzz", "lcms2", "libffi", "libiconv", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "libyaml", "openjpeg", "openssl", "pango", "pgadmin4", "pkg-config", "postgresql", "rustc", "shared-mime-info", "tcl", "tk", "unzip", "zlib"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Gunicorn Production Server"

[[workflows.workflow]]
name = "Gunicorn Production Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind=0.0.0.0:5000 --workers=2 --timeout=120 invoiceflow.wsgi:application"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 39637
externalPort = 9000

[[ports]]
localPort = 40051
externalPort = 8008

[[ports]]
localPort = 40725
externalPort = 8000

[[ports]]
localPort = 41393
externalPort = 6800

[[ports]]
localPort = 42013
externalPort = 3003

[[ports]]
localPort = 42193
externalPort = 3000

[[ports]]
localPort = 42431
externalPort = 4200

[[ports]]
localPort = 42533
externalPort = 3001

[[ports]]
localPort = 42587
externalPort = 5000

[[ports]]
localPort = 44655
externalPort = 6000

[[ports]]
localPort = 45037
externalPort = 3002

[[ports]]
localPort = 45657
externalPort = 8080

[[ports]]
localPort = 46179
externalPort = 8081

[[ports]]
localPort = 46305
externalPort = 5173

[[ports]]
localPort = 46563
externalPort = 8099

[userenv]

[userenv.shared]
SENDGRID_FROM_EMAIL = "noreply@invoiceflow.com.ng"
SECRET_KEY = "P-xsqzlcYttOpntIDZTUkRkcE1YDsu6H9z1zcj1-woUtnppOPr2Ht-lJn4UTTqvu3eo"
DEBUG = "True"
ALLOWED_HOSTS = "*"

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind=0.0.0.0:5000", "--workers=2", "--timeout=120", "invoiceflow.wsgi:application"]
build = ["python", "manage.py", "collectstatic", "--no-input"]
