asgiref==3.11.0
brotli==1.2.0
cffi==2.0.0
cryptography==46.0.3
cssselect2==0.8.0
Django==5.2.8
django-csp==4.0
django-environ==0.12.0
django-ratelimit==4.1.0
fonttools==4.60.1
gunicorn==23.0.0
pillow==12.0.0
psycopg2-binary==2.9.11
pycparser==2.23
pydyf==0.11.0
pyphen==0.17.2
python-dateutil==2.9.0
PyYAML==6.0.3
sendgrid==6.12.5
sentry-sdk==1.45.1
sqlparse==0.5.3
tinycss2==1.5.0
tinyhtml5==2.0.0
weasyprint==66.0
webencodings==0.5.1
whitenoise==6.11.0
zopfli==0.4.0
asgiref
brotli
cffi
cryptography
cssselect2
Django
django-csp
django-environ
django-ratelimit
fonttools
gunicorn
pillow
psycopg2-binary
pycparser
pydyf
pyphen
python-dateutil
PyYAML
sendgrid
sentry-sdk
sqlparse
tinycss2
tinyhtml5
weasyprint
webencodings
whitenoise
zopfli
psycopg2-binary
asgiref
brotli
cffi
cryptography
cssselect2
Django
django-csp
django-environ
django-ratelimit
fonttools
gunicorn
pillow
psycopg2-binary
pycparser
pydyf
pyphen
python-dateutil
PyYAML
sendgrid
sentry-sdk
sqlparse
tinycss2
tinyhtml5
weasyprint
webencodings
whitenoise
zopfli
